
    <div id="content">
      <div class="container-fluid">


        <div class="row mx-3">
          <div class="col-lg-12">
            <div class="xlg-font underline d-inline">
            <%= @cohort.name %>
            </div>
            <div class="xlg-font float-right">
              <%= link_to 'Log Out', destroy_user_session_path, method: 'DELETE'%>
            </div>
          </div>
        </div>


        <div class="row mx-3 mt-4">
          <div class="col-lg-12">
            <div class="bx-color p-3">

                <div class="row row-center-100">
                      <div class="col-4">
                        <%= image_tag image_path('instructor-icon.png'), :class => 'icon-width-lg' %>
                      </div>
                      <div class="col-4 md-font-white">
                        <div class="text-center">
                         Students: <%= @cohort.students.length %>
                        </div>
                      </div>
                      <div class="col-4">
                      <%= link_to new_cohort_student_path do %>
                         <i class="fas fa-plus-circle fa-2x float-right"></i>
                      <% end %>

                   </div>

            </div>
          </div>
        </div>
      </div>

        <div class="row m-3 mt-5">
           <div class="col-lg-12">
              <div class="container-fluid bx-color py-3">
                <div class="row">
                 <% @cohort.students.each do |student| %>
                    <div class="col-lg-4 my-2">
                      <div class="card">
                        <div class="card-block">
                          <div class="row m-0">
                            <div class="card-title col-lg-3 justify-content-center align-self-center">
                                <i style="color:black" class="fas fa-user-circle fa-3x"></i>
                             </div>
                             <div class="p-2 col-lg-9">
                                 <span class="card-title"> <%=student.first_name + ' ' + student.last_name%></span>
                                <%= link_to cohort_student_path(find_cohort_student(student, @cohort)), method: :delete, remote:true do %>
                                  <i class="fas fa-trash float-right m-1"></i>
                                <% end %>

                                <hr class="m-0">
                                <span class="card-subtitle text-muted">Date Of Birth:  </span>
                                <span class="card-text"><%= student.dob %></span><Br>
                                <span class="card-subtitle text-muted">Education:</span>
                                <span class="card-text"><%= student.education %></span><BR>
                                <span class="card-subtitle text-muted">Enrolled since: </span>
                                <span class="card-text"><%= student.created_at %></span><br>

                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
<!-- container fluid  -->
      </div>
<!-- content  -->
    </div>
