<%= form_for @student do |s| %>
 <div>
    <%= s.label :first_name %>
    <%= s.text_field :first_name %>
 </div>

 <div>
    <%= s.label :last_name %>
    <%= s.text_field :last_name %>
 </div>

 <div>
    <%= s.label :dob %>
    <%= s.date_field :dob %>
 </div>

 <div>

    <%= s.label :education, "High School" %>
    <%= s.radio_button :education, "High School" %>

    <%= s.label :education, "Bachelor's" %>
    <%= s.radio_button :education, "Bachelor's"%>

    <%= s.label :education, "Master's" %>
    <%= s.radio_button :education, "Master's"%>

    <%= s.label :education, "PhD" %>
    <%= s.radio_button :education, "PhD"%>

 </div>

 <div>
    <%= s.submit %>
 </div>
<% end %>
