<%= form_for @instructor do |i| %>
 <div class="field">
    <%= i.label :first_name %>
    <%= i.text_field :first_name %>
 </div>

 <div class="field last">
    <%= i.label :last_name %>
    <%= i.text_field :last_name %>
 </div>

 <div class="field">
    <%= i.label :dob %>
    <%= i.date_field :dob %>
 </div>

 <div class="field last">
    <%= i.label :salary %>
    <%= i.number_field :salary %>
 </div>

 <div class= "field radio-inline">

    <%= i.label :education, "High School", :class=> "radio-inline" %>
    <%= i.radio_button :education, "High School" %>

    <%= i.label :education, "Bachelor's Degree", :class=> "radio-inline" %>
    <%= i.radio_button :education, "Bachelor's Degree"%>

    <%= i.label :education, "Master's Degree", :class=> "radio-inline" %>
    <%= i.radio_button :education, "Master's Degree"%>

    <%= i.label :education, "PhD", :class=> "radio-inline" %>
    <%= i.radio_button :education, "PhD"%>

 </div>

 <div>
  <%= i.submit %>
 </div>
<% end %>
