<div id="content">
    <div class="container-fluid">

        <div class="row mx-3">
          <div class="col-lg-12">
            <div class="xlg-font underline d-inline">
            <% if users == @instructors   %>
              Instructor's Area
              <% else %>
              Student's Area
              <% end %>
            </div>
            <div class="md-font-white float-right">
              Logout
            </div>
          </div>
        </div>


        <div class="row mx-3 mt-4">
          <div class="col-lg-12">
            <div class="bx-color bx-sm">

                <div class="row row-center-100 no-gutters">
                      <div class="col-2">
                        <% if users == @instructors %>
                        <%= image_tag image_path('instructor-icon.png'), :class => 'icon-width-lg' %>
                        <% else %>
                        <%= image_tag image_path('student-icon.png'), :class => 'icon-width-lg' %>
                        <% end %>
                      </div>
                      <div class="col-2 md-font-white">
                        <div class="text-center">
                  <% if users == @instructors   %>
                      Instructors
                  <% else %>
                       Students
                 <% end %>
                        </div>
                      <div class="text-center">
                        <%=  users.length %>
                        </div>
                      </div>

                      <div  class="col-1 offset-7">
                    <% if users == @instructors %>
                      <%= link_to new_instructor_path do %>
                         <i class="fas fa-plus-circle fa-2x icon-width-lg"></i>
                      <% end %>
                    <% else %>
                     <%= link_to new_student_path do %>
                       <i class="fas fa-plus-circle"></i>
                     <% end %>
                    <% end %>
                      </div>
                  </div>


            </div>
          </div>
        </div>


        <div class="row m-3 mt-5">
          <div class="col-lg-12">
              <div class="container-fluid bx-color bx-xlg py-3">
                <div class="row">
                 <% users.each do |user| %>
                    <div class="col-lg-4 my-2">

                      <div class="card">
                        <div class="card-block">
                          <div class="row m-0">
                            <div class="card-title col-lg-3 p-1 justify-content-center align-self-center">
                                <i style="color:black" class="fas fa-user-circle fa-3x"></i>
                             </div>
                             <div class="p-2 col-lg-9">
                                 <span class="card-title"> <%=user.first_name + ' ' + user.last_name%></span>
                        <% if users == @instructors %>
                                <%= link_to instructor_path(user), method: "DELETE", data: {confirm: "Are you sure you want to delete this user?" } do %>
                                   <i class="fas fa-trash float-right m-1"></i>
                                <% end %>
                                <%= link_to edit_instructor_path(user) do %>
                                   <i class="fas fa-edit float-right m-1"></i>
                                 <% end %>
                        <% else %>
                                <%= link_to student_path(user), method: "DELETE", data: {confirm: "Are you sure you want to delete this user?"} do %>
                                  <i class="fas fa-trash float-right m-1"></i>
                                <% end %>
                               <%= link_to edit_student_path(user) do %>
                                  <i class="fas fa-edit float-right m-1"></i>
                               <% end %>
                       <%end%>

                                <hr class="m-0">
                                <span class="card-subtitle text-muted">Date Of Birth:  </span>
                                <span class="card-text"><%= user.dob %></span><Br>
                                <span class="card-subtitle text-muted">Education:</span>
                                <span class="card-text"><%= user.education %></span><BR>
                                <% if users == @instructors   %>
                                <span class="card-subtitle text-muted">Salary:</span>
                                <span class="card-text"><%= user.salary %></span><br>
                                <% else %>
                                <span class="card-subtitle text-muted">Enrolled since: </span>
                                <span class="card-text"><%= user.created_at %></span><br>

                                <% end %>
                             </div>
                          </div>
                        </div>
                      </div>
                   </div>
                  <% end %>
              </div>
          </div>
      </div>
   </div>




<!-- container fluid  -->
      </div>
<!-- content  -->
    </div>
