<%= form_for @course do |c| %>
 <div class="field">
    <%= c.label :name %>
    <%= c.text_field :name %>
 </div>

 <div class="field last">
    <%= c.label :hours %>
    <%= c.number_field :hours %>
 </div class="field">

 <div>
    <%= c.submit %>
 </div>

<% end %>
